/* ~~~~~ GLOBAL RULES ~~~~~ */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: center;
}

body {
  background: ghostwhite;
}

button,
input {
  font-size: 20px;
  padding: 10px 20px;
}

button {
  background: black;
  border: none;
  border-radius: 10px;
  color: white;
}

button:hover {
  background: darkslateblue;
}

.hidden {
  display: none
}

/* ~~~~~ MAIN POSTER SECTION ~~~~~ */
.main-poster {
  height: 100vh;
}

.poster {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 50px 20px;
  width: 70%;
}

.poster-img {
  background-size: cover;
  border: 2px solid white;
  max-width: 80%;
}

.poster-title,
.poster-quote {
  font-size: 20px;
  color: white;
  line-height: 1;
  width: 90%;
}

.poster-title {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-poster button {
  margin: 10px;
}

/* ~~~~~ POSTER FORM SECTION ~~~~~ */
.poster-form hidden {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.poster-form h2 {
  margin-bottom: 30px;
}

.poster-form form {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.poster-form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.poster-form .divider {
  border-bottom: 1px solid black;
  margin: auto;
  margin-bottom: 20px;
  width: 400px;
}

/* ~~~~~ SAVED POSTER SECTION ~~~~~ */
.saved-posters hidden{
  padding: 40px;
}

.saved-posters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.mini-poster {
  background: black;
  color: white;
  height: 340px;
  padding: 25px;
  width: 425px;
}

.mini-poster img {
  height:200px;
  width: 300px;
}

.mini-poster h2,
.mini-poster h4,
.delete {
  color: white;
  line-height: 1;
  width: 90%;
}

.mini-poster h2 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* ~~~~~ ANTI-MOTIVATIONAL POSTER SECTION ~~~~~ */
.unmotivational-posters hidden{
  padding: 40px;
}

.unmotivational-posters-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.unmotivational-poster {
  display: block;
  cursor: pointer;
  background: rgb(135, 135, 135);
  flex: 0 1 calc(33.33% - 20px);
  margin: 5px;
  box-sizing: border-box;
  color: white;
  border-radius: 2%;
  text-align: center;
  padding: 25px;
  height: 340px;
  width: 425px;
}

.unmotivational-poster.zoom {
  animation: zoom forwards 0.7s ease-out 1;
}

.unmotivational-poster img {
  height:200px;
  width: 300px;
}

.unmotivational-poster h2,
.unmotivational-poster h4,
.delete {
  color: white;
  line-height: 1;
  width: 90%;
}

.unmotivational-poster h2 {
  color: black;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}


@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.zoom-out {
  animation: zoomOut 0.33s ease-out forwards;
}